body{
    margin-left: 20px;
    color: rgb(185, 173, 102);
    background-color: rgb(86, 85, 82);
}

#title{
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 5px solid ;
    padding: 10px;
}

.heading{
    margin-left: 40px;
    border-right: solid;
    width: 50%;
    padding: 20px;
}

#date-get{
    font-size: 1.2rem;
    background: transparent;
    color: rgb(182, 182, 182);
    border-radius: 5px;
    

}
#back-button{
    font-size: 1.2rem;
    background: transparent;
    color: rgb(182, 182, 182);
    border-radius: 5px;
}
#apicontent{
    margin-left: 20%;
    background-color: rgb(171, 165, 165);
    border-radius: 15px;
    color: black;
    padding-left: 10px;
    margin-top: 10px;
    width: 55%;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    
}
h5{
    border-top: 1px solid white;
    padding-top: 20px;
}


#disclaimer{
    margin-left: 40px;
    border-right: solid ;
    width: 50%;
    padding: 20px;
}
  
    