body{
    margin-left: 20px;
    color: gray;
    background-color: black;
}

.heading{
    margin-left: 40px;
}

#disclaimer{
    margin-left: 40px;
    border: solid black;
    width: 50%;
}
  
    