body{
    margin-left: 20px;
    color: gray;
    background-color: black;
}

.heading{
    margin-left: 40px;
    border-right: solid;
    width: 50%;
}

#disclaimer{
    margin-left: 40px;
    border-right: solid ;
    width: 50%;
}
  
    